/* Подключение шрифтов */
@font-face {
  font-family: "InvolveRegular";
  src: url("../../fonts/InvolveRegular/InvolveRegular.eot");
  src: url("../../fonts/InvolveRegular/InvolveRegular.woff2") format("woff2"),
    url("../../fonts/InvolveRegular/InvolveRegular.woff") format("woff"),
    url("../../fonts/InvolveRegular/InvolveRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Unbounded";
  src: url("../../fonts/Unbounded/Unbounded.eot");
  src: url("../../fonts/Unbounded/Unbounded.woff2") format("woff2"), url("../../fonts/Unbounded/Unbounded.woff")
    format("woff"), url("../../fonts/Unbounded/Unbounded.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Шапка сайта с баннером услуг */
.services-hero {
  position: relative;
  width: 100%;
  max-width: 1643px;
  height: 720px;
  margin: 40px auto 0;
}

.services-hero .logo {
  position: absolute;
  width: 394px;
  height: 79px;
  top: 0;
  object-fit: cover;
  z-index: 2;
}

.services-hero .hero-background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

.services-hero .hero-overlay {
  position: absolute;
  width: 333px;
  height: 132px;
  top: 552px;
  left: 39px;
  background-color: rgba(0, 0, 2, 0.9);
  filter: blur(50px);
}

.services-hero .hero-title {
  position: absolute;
  top: 596px;
  left: 47px;
  font-family: "Unbounded", Helvetica;
  color: #ffffff;
  font-size: 64px;
  line-height: 83px;
  white-space: nowrap;
  font-weight: 400;
  letter-spacing: 0;
  z-index: 1;
}

.services-hero .menu-button {
  display: flex;
  flex-direction: column;
  width: 185px;
  height: 51px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 14px 7px;
  position: absolute;
  top: 0;
  left: 1450px;
  overflow: hidden;
  border: 0px;
  background: transparent;
  cursor: pointer;
}


